/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Shared Style */
:root{
    --logo-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --text-color: #534C64;
    --primary-text-size: 16px;
    --primary-font-weight: 500;
    --secondary-text-size: 18px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Menu Styles */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.nav-container{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-logo img{
    width: 86.041px;
    height: 40px;
}

.nav-logo h2{
    font-weight: 700;
    font-size: 45px;
    color: #0B0223;
}
.logo-color{
    color: #FF42A5;
}


.nav-container > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-container > ul li{
    list-style-type: none;
}
.nav-container > ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.menu-with-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner Section style */
.banner-section{
    display: flex;
    gap: 100px;
}

.banner-content{
    display: flex;
    justify-content: center;
    padding-left: 160px;
    flex-direction: column;
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.banner-image img{
    height: 500px;
}
.banner-content h2{
    color: #0B0223;
    font-size: 2.55rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    color: var(--text-color);
    font-size: var(--primary-text-size);
    font-weight: var(--primary-font-weight);
    padding-top: 10px;
}
.banner-content p i{
    padding-right: 8px;
}
.banner-button .btn-1{
    background-color: #FF42A5;
    padding: 15px 30px;
    border: none;
    margin-top: 25px;
    margin-right: 30px;
    border-radius: 48px;
    color: #FFF;
    font-weight: 600;
}
.banner-button .btn-2{
    background-color: #4EC5F7;
    padding: 15px 30px;
    border: none;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 48px;
    color: #FFF;
    font-weight: 600;
}

/* Online Game Section */

.online-games{
    margin-bottom: 50px;
}
.online-games .online-games-content{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.online-games-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.online-games-content h3 span{
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-content p{
    color: var(--text-color);
    font-size: var(--primary-text-size);
    padding-top: 20px;
}
.card-container .card{
    width: 280px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.card-container > .card:hover{
    border: 3px solid #FF42A5;
    border-radius: 16px;
}
.card-container img{
    width: 100%;
}
.card-description{
    display: flex;
    gap: 20px;
    
}
.card-description .description{
    width: 300px;
    padding-left: 10px;
    padding-top: 20px;
}
.description p{
    color: var(--text-color);
    font-size: var(--primary-text-size);
}

/* Play Games Online Section */

.play-games-online{
    display: flex;
    gap: 180px;
    justify-content: space-around;
    margin-top: 150px;
}
.play-games-online img{
    width: 500px;
}
.play-games-online-image > div img{
    width: 200px;
    transform: translate(380px, -140px);
}
.play-games-online-content{
    padding-top: 170px;
}
.play-games-online-content h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.play-games-online-content h3 span{
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-games-online-content p{
    color: var(--text-color);
    padding-top: 20px;
}

/* Games Multiple Section */

.games-multiple{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 0;
}
.games-multiple .card-button{
    width: 220px;
    height: 70px;
    display: flex;
    padding-left: 10px;
    gap: 5px;
    align-items: center;
}
.games-multiple .card-button:hover{
    color: #FF42A5;
    border: 2px solid #FF42A5;
    border-radius: 50px;
}

.card-button h4{
    font-size: 15px;
    font-weight: 600;
}
.card-button img{
    width: 50px;
}
.games-multiple-one{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.games-multiple-one .card-button{
    width: 220px;
    height: 70px;
    display: flex;
    padding-left: 10px;
    gap: 5px;
    align-items: center;
}
.games-multiple-one .card-button:hover{
    color: #FF42A5;
    border: 2px solid #FF42A5;
    border-radius: 50px;
}

/* Footer Section Styles */
footer{
    background-color: #0B0223;
}
.footer-logo{
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo h2{
    color: #fff;
    padding-left: 10px;
}
.footer-logo h2 > span{
    color: #FF42A5;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
}
.footer-nav ul li{
    list-style-type: none;
}
.footer-nav ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
.footer-social-icon{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
}
.terms-condition ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.terms-condition ul li{
    list-style-type: none;
}
.terms-condition ul li  a{
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    font-size: 14px;
}
.copy-rights p{
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    text-align: center;
}